/*
Table custom_head
*/
table.custom_head thead tr td  {
  font-size:13px;
  font-weight:normal;
  background:-webkit-radial-gradient(#E0E0E0,#C0C0C0);
  background:linear-gradient(#E0E0E0,#C0C0C0);
  padding:5px 20px 5px 6px;
  white-space:nowrap;
  text-align:left;
}
table.custom_head tbody tr.even {
  background-color:#F8F8F8;
}