ACTION=="add", KERNEL=="sd*", ENV{DEVTYPE}=="partition" RUN+="/usr/local/emhttp/plugins/unassigned.devices/scripts/udev_mount"
ACTION=="remove", ENV{ID_TYPE}=="disk" RUN+="/usr/local/emhttp/plugins/unassigned.devices/scripts/udev_umount"