ACTION=="add", KERNEL=="sd*", ENV{DEVTYPE}=="partition" RUN+="/usr/local/sbin/unassigned_mount"
ACTION=="change", ENV{DEVTYPE}=="partition" RUN+="/usr/local/sbin/unassigned_reload"
ACTION=="remove", ENV{ID_TYPE}=="disk" RUN+="/usr/local/sbin/unassigned_umount"