ACTION=="add", KERNEL=="sd*", SUBSYSTEMS=="usb", DRIVERS=="usb-storage" RUN+="/usr/local/sbin/usb_mount"
ACTION=="remove", SUBSYSTEMS=="usb", ENV{ID_TYPE}=="disk" RUN+="/usr/local/sbin/usb_umount"